@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {
  --main-background-color: #f5f5f5;
  --main-text-color: #000000;
  --main-card-background-color: #ffffff;
  --yellow-color: #f5a623;
  --yellow-color-hover: #d48f1f;
  --red-color: #e4003a;
  --red-color-hover: #b3002b;
  --green-color: #97be5a;
  --lime-blue-color: #5f9ea0;
  --lime-blue-color-hover: #4d7876a5;

  --main-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --secons-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  --main-font-size: 16px;
  --main-font-family: "Open Sans", sans-serif;

  --main-border-radius: 20px;
  --main-pading: 20px;

  --main-transition: all 0.3s ease-out;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font-family);
  background-color: var(--main-background-color);
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 75%;
  }
}

/* .user-page-content {
  min-height: 10000px;
} */

@media screen and (min-width: 1000px) {
  .user-page-content {
    margin-top: 100px;
  }
}

.admin-page-content {
  min-height: 10000px;
}

@media screen and (min-width: 1000px) {
  .admin-page-content {
    margin-top: 100px;
  }
}
