@import "../../index.css";

.admin-category-form {
  display: none; /* Start hidden */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Above other elements */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Popup content */
#category-form {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--lime-blue-color);
}

#category-form input,
#category-form textarea {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid var(--lime-blue-color);
  outline: none;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
}
#category-form button {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: var(--lime-blue-color);
  color: white;
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  font-weight: bold;
  cursor: pointer;
}

/* When form is active, reduce opacity of body */
body.show-popup {
  opacity: 0.5;
  pointer-events: none; /* Disable interactions */
}

/* Except for the popup */
body.show-popup .admin-category-form {
  pointer-events: auto; /* Enable interactions */
}

.add-product-close-container,
.edit-category-close-container,
.add-category-close-container,
.edit-product-close-container {
  position: relative;
}

.add-product-close {
  position: absolute;
  top: -75px;
  right: 0px;
}

.add-category-close {
  position: absolute;
  top: -15px;
  right: 10px;

}

.edit-product-close {
  position: absolute;
  top: -35px;
  right: 10px;

}

.edit-category-close {
  position: absolute;
  top: -35px;
  right: 10px;

}
