@import "../../index.css";

.footer {
  background-image: linear-gradient(to bottom, white, var(--lime-blue-color));
  color: black;
  margin-top: 100px;
}

.user-footer-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.user-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-text {
  text-align: left;
  margin: 10px 20px;
}

.footer-text h3 {
  
  font-size: 18px;
  font-weight: bold;
}

.footer-text p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #666;
}

.footer-support {
  display: flex;
  gap: 20px;
}

.support-item {
  text-align: left;
}

.support-item span {
  display: block;
  font-size: 14px;
  color: #666;
}

.support-item div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: bold;
}

.support-item i {
  font-size: 20px;
  color: #333;
}
/* bottom footer */

.footer-bottom {
  background-color: #f5f6f7;
  padding: 20px 0;
  direction: ltr;
  text-align: center;
}

.footer-bottom-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 15px;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.footer-payment {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
  margin-left: 2rem;
}

.footer-payment img {
  width: 40px;
  height: auto;
}

.footer-copyright {
  color: #666;
  font-size: 14px;
}

.toTop {
  position: fixed;
  bottom: 20px;
  right: 50px;
}

@media (max-width: 630px) {
  .user-footer-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
  }
}
@media (max-width: 430px) {
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
  }
  .footer-support {
    display: flex;
    gap: 6px;
  }
  .footer-links a {
    text-decoration: none;
    color: #333;
    font-size: 13px;
  }
  .support-item {
    text-align:center;
  }
  
  .support-item span {
    display: block;
    font-size: 10px;
    color: #666;
  }
  
  .support-item div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    font-weight: bold;
  }
  
  .support-item i {
    font-size: 15px;
    color: #333;
  }

    body{
          width: 100%;
    }
  .user-footer-container {
    width:auto;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer {
    width: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
  }
  .footer-text{
    margin-bottom: 8px;
  }
  
}
