@import "../../index.css";

.admin-product-form-container {
  display: none; /* Start hidden */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Above other elements */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Popup content */
#edit-product-form {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  height: 500px;
  display: grid;
  background-color: var(--lime-blue-color);
}

.form-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

#edit-product-form input,
#edit-product-form textarea {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid var(--lime-blue-color);
  outline: none;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
}
#edit-product-form button {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: var(--lime-blue-color);
  color: white;
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  font-weight: bold;
  cursor: pointer;
}

/* When form is active, reduce opacity of body */
body.show-popup {
  opacity: 0.5;
  pointer-events: none; /* Disable interactions */
}

/* Except for the popup */
body.show-popup .admin-category-form {
  pointer-events: auto; /* Enable interactions */
}
