@import "../../index.css";

.menu {
  background-color: var(--lime-blue-color-hover);
  width: 200px;
  height: 100vh;
  padding: 20px;
  transition: 0.5s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dash {
  position: fixed;
  top: 50%;
  padding: 2px;
  left: -4px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  z-index: 10;
  transition: left 0.5s linear;
  -webkit-transition: left 0.5s linear;
  -moz-transition: left 0.5s linear;
  -ms-transition: left 0.5s linear;
  -o-transition: left 0.5s linear;
}

.dash.active {
  display: block; /* Display when active */
  left: 0; /* Slide in */
}

.dash img {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dot{
  font-size: 10px !important;
  color: red;

}

.menu:hover {
  background-color: var(--lime-blue-color);
}

.menu-list {
  list-style: none;
}

.Side-Bar-buttons{
  width: 100%;
  display: block;
  text-decoration: none;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  color: var(--main-card-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
}

.Side-Bar-buttons:hover,
.active,
.data-info .box:hover,
td:hover {
  background-color: var(--lime-blue-color-hover);
}

.log-out {
  padding:2px 10px ;
  width: 100%;
}

.log-out a {
  padding:4px 10px ;
  background-color: #a00;
}

ul li a i {
  font-size: 30px;
  color: var(--main-card-background-color);
}
