.user-orders {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 150px;
}

.user-orders .product-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--main-box-shadow);
  position: relative;
  overflow: hidden;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.user-orders .product-card:hover {
  scale: 1.01;
  box-shadow: var(--secons-box-shadow);
}

.user-orders .product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.user-orders .product-card .product-details {
  padding: 10px;
}

.user-orders .product-card .product-details h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--lime-blue-color);
  margin-bottom: 10px;
}

.user-orders .product-card .product-details .description {
  font-size: 16px;
  color: rgb(183, 183, 183);
}

.user-orders .product-card .product-details .price {
  font-size: 18px;
  color: var(--red-color);
}

.rejected {
  color: var(--red-color) !important;
}

.hidden {
  display: none;
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 1000;
}

.notification.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.user-order-page {
  position: relative;
}

.placeOrder button {
  background-color: var(--lime-blue-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  position: fixed;
  top: 36px;
  right: 280px;
  z-index: 1000;
}

.placeOrder button:hover {
  background-color: var(--lime-blue-color-hover);
}
